@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&display=swap');

:root {
    --primary-color: #28606F;
    --secondary-color: #E1E9EB;
    --accent1-color: #688F9A;
    --accent2-color: #EEE499;

    --heading-font: 'Patua One', slab-serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-background-color: #28606F;
    --nav-link-color: #EEE499;
    --nav-hover-link-color: #688F9A;
    --nav-hover-background-color: #E1E9EB;
    }

    body {
        width: 980px;
        padding: 20px;
    }

    h1, h2, h3, h4, h5,h6 {
        color: var(--primary-color);
    }

    header {
        padding: 10px;
        background-color: var(--accent1-color);
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items:center
        
        
    }

    header img {
        grid-column: 1;
        justify-self: center;
        padding: 8px;
    }

    nav {
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav a {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: var(--nav-link-color);
        background-color: #28606F;
        text-decoration: none;
        border: var(--nav-hover-background-color) solid 1px;
        padding: 10px 52px;
    }

    nav a:link, nav a:visited {
        color: var(--nav-link-color) 
    }

    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
    }

    .hero {
        position: relative;
    }

    .hero img {
        display: block;
        width: 100%;
        padding: 15px;
        text-align: left;
        bottom: 5px;
    }

    .hero article img {
        display: block;
        width: 250px;
        float: right;
        margin: 18px;
    }

    .history {
        display: grid;
        justify-items: center;
        padding-bottom: 18px;
        column-gap: 10px;
    }

    .history img {
        width: 400px;
        height: auto;
        border: 4.5px solid;
        border-color: #688F9A;

    }

    h2 {
        font-size: 38px;
    }

    .history h2 {
        grid-column: 1 / 4;
            grid-column-start: 1;
            grid-column-end: 4;
        grid-row: 1;
            grid-row-start: 1;
            grid-row-end: auto;
    }

    

    footer {
        display: flex;
        text-decoration: none;
        background-color: #28606F;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    footer p {
        flex: 1;
        justify-content: center;
    }

    }

    .sociallinks img {
        text-decoration: none;
    }

        
    



    *, html {
        scroll-behavior: auto !important;
    }



