body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #688F9A;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #28606F;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

footer hr {
    margin-bottom: 20px; 
}

.footer-content {
    display: inline-block; 
}